.side-bar{
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 650px;
}

.menu-bar{
  padding: 20px;
  color: #aaa;
}

li {
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-relatorio {
  padding: 10px 15px;
  background-color: #FBD5EC;
  border-radius: 5px;
  color: #FD32D0;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
}
